
body {
    /* Default font-size */
    font-size: 1.6rem;

    background-color: lightpink;


    /* sticky footer - match footer height */
    margin-bottom: 30px;

    text-align: center;

}

.listbox{
    margin: 0 auto;
    height: 300px;
    width: 50%;
    border:3px
    solid lightcoral;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    background-color: lightpink;
}
.listbox2{
    margin: 0 auto;
    height: 180px;
    width: 50%;
    border:3px
    solid lightcoral;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    background-color: lightpink;
}


.inputForm{
    margin: 0 auto;
    height: 50px;
    width: 50%;
}

header {
    text-align: center;
    margin-top: 80px;
    height: 80px;
    font: italic bold 12px/30px Georgia;
}

#logo {
    width: 135px;
}

a {
    font: normal bold 15px/10px Georgia;
    color: mediumpurple;
}
a:hover {
    color: rebeccapurple;
}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


/*----------------------------------------------------
Typography
-----------------------------------------------------*/

h1 {
    Color:black;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
    Color: #3d4852;
    font:  normal 15px/35px "Arial Hebrew";
}

p {
    font-size: 30px;
    color: #606f7b;
    font: italic bold 18px/40px "Apple Chancery";
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
input{
    padding:1px;
    border:1px #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}



label, legend {
    display: block;
    margin-top: 10px;
    font-weight: normal;
}

ul.checkboxes {
    list-style-type: none;
    padding: 0;
}

ul.checkboxes label {
    font-weight: normal;
    margin: 0;
}

.btn {
    background-color: indianred;
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
    border: none;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: -moz-center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}

.alert {
    background-color: lightgoldenrodyellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}


