
body {
    /* Default font-size */
    font-size: 1.6rem;

    background-color: lightpink;


    /* sticky footer - match footer height */
    margin-bottom: 30px;

    text-align: center;

}

.listbox{
    margin: 0 auto;
    height: 300px;
    width: 50%;
    border:3px
    solid lightcoral;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    background-color: lightpink;
}
.listbox2{
    margin: 0 auto;
    height: 200px;
    width: 50%;
    border:3px
    solid lightcoral;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    background-color: lightpink;
}

.inputForm{
    margin: 0 auto;
    height: 70px;
    width: 50%;
}
header {
    text-align: center;
    margin-top: 80px;
    height: 80px;
    font: italic bold 12px/30px Georgia;
}

#logo {
    width: 135px;
}

a {
    font: normal bold 15px/10px Georgia;
    color: mediumpurple;
}
a:hover {
    color: rebeccapurple;
}


footer {
    text-align: center;
    background-color: hotpink;
    font: italic bold 12px/20px Georgia;
    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px; /* Vertically center the text there */

}



/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    color: #18bc9c; /* teel */
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
    Color: #3d4852;
    font:  normal 15px/35px "Arial Hebrew";
}

p {
    font-size: 30px;
    color: #606f7b;
    font: italic bold 18px/40px "Apple Chancery";
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label, legend {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: .75px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px;
    font-family: Consolas, Courier, monospace;
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

input[type='checkbox'] + label {
    display: inline;
    font-weight: normal;
}

ul.checkboxes {
    list-style-type: none;
    padding: 0;
}

ul.checkboxes label {
    font-weight: normal;
    margin: 0;
}

.btn {
    background-color: indianred;
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
    border: none;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}

.alert {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}


